*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Ajuste de box en los bordes */
.main{
    width: 100%;
    height: 100vh;
}
/* Inicia sección 1 */
.section-1{
    width: 100%;
    height: 10em;
    padding-top: 1.7em;
}
.header{
    .button {
        width: fit-content;
        display: flex;
        padding: 1.2em 1rem;
        cursor: pointer;
        gap: 0.4rem;
        font-weight: bold;
        border-radius: 30px;
        text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
        background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
        background-size: 300%;
        color: #fff;
        border: none;
        background-position: left center;
        box-shadow: 0 30px 10px -20px rgba(0,0,0,.2);
        transition: background .3s ease;
      }
      
      .button:hover {
        background-size: 320%;
        background-position: right center;
      }
      
      .button:hover svg {
        fill: #fff;
      }
      
      .button svg {
        width: 23px;
        fill: #f09f33;
        transition: .3s ease;
      }
    background-color: #34b130;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.img{
    width: 25%;
    height: 100%;
}
.menu{
    width: 55%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}
.img img{
    object-fit: cover;
    height: 100%;
}
.menu a{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 2em 1em;
}
.menu a:hover{
    background-color: indigo;
}
/* Final sección 1 */

/* Inicia sección 2 */
.section-2{
    width: 100%;
    height: calc(100vp-14em);
    background: #828cc0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav ul li {
    display: flex;
    margin-right: 20px;
    justify-content: center;
}

nav ul li a {
    color: #333;
    text-decoration: purple;
    justify-content: center;
}

main {
    padding: 20px;
    justify-content: center;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #333;
}

section p {
    color: #666;
    background-color: #dc9cdf;
}

footer {
    background-color: #ebe5e5;
    color: #94f842;
    text-align: center;
    padding: 20px;
    justify-content: center;
}

/* Estilos específicos para imágenes */
img {
    width: 50%;
    height: 50%;
    display: flex;
    margin: 0 auto;
    background: #2825f0;
}
